.body {
  background: url(../img/7b44eb09418559b40ebc2eda165cb337.jpg) center/cover no-repeat fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}


html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 750px;
  margin: auto;
}

.avatar {
  width: 250px;
  border-radius: 30px;
  box-shadow: 4px 4px 16px;
}


.info {
  display: flex;
  margin-bottom: 20px;
}


.info-text h1 {
  margin-left: 35px;
}


.info-text p {
  margin-left: 35px;
  font-weight: bold;
  color: maroon;
  font-style: italic;
  font-size: 17px;
}


.info-text2 {
  margin-left: 35px;
  margin-top: 20px;

}

.info-text2 a {
  color: #000;
  font-weight: bold;
  font-size: 19px;
}


h2 {
  color: maroon;
  margin-top: 33px;
  margin-bottom: 30px;
}


h3 {
  color: blue;
  margin-top: 33px;
  margin-bottom: 20px;
}

.imgstart {
  padding: 10px;
}


img {
  width: 300px;
  border-radius: 20px;
  padding: 8px;
}


.Conveniences {
  font-size: 25px;
}


.Conveniences a {
  color: #000;
}


p {
  font-size: 19px;

}

.p-documents {
  font-size: 25px;
  text-decoration: underline;

}


.h1-end {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 90px;
  font-family: Roboto, sans-serif;

}


.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}


.label {
  margin-left: 0px;
  flex: 1;
  margin-right: 50px;
  font-size: 14px;
}



.input,
.textarea {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}



.textarea {
  height: 100px;
}


.button {
  margin-left: 400px;
  margin-top: 0px;
  padding: 13px 40px;
  border: none;
  cursor: pointer;
  background: red;
  color: #fff;
  font-size: 20xp;
}



.confidentiality {
  margin-top: 0px;
}


.confidentiality p {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-left: 240px;
}


.footer1 {
  margin-top: 50px;
}


.blook {
  height: 520px;
  background: #2e2e2e;
  font-family: Roboto, sans-serif;
  display: flex;
}


.blook li {
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 300px;
  font-size: 15px;
}


.blook a {
  color: #fff;
}


.footer2 {
  margin-top: 100px;
  max-width: 1300px;
  margin-left: 400px;
}

.footer-content2 {
  display: flex;
  align-items: center;
  justify-items: space-between;

}

.button-end {
  gap: 10px;
  /* Расстояние между кнопками */
  margin-top: 10px;
}


.button-end1,
.button-end2 {
  margin-bottom: 20px;
  padding: 5% 21px;

}

.button-end2 {
  padding: 5% 13px
}